# Compiler files
cache/
out/

# User
.vscode/
size_require.txt
todo.txt

# Auth
.auth.c3caller
.auth.testnet0

# Dependencies
node_modules/
Greenfield/node_modules/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# External Solidity files
build/
saved/
CTMRWA001/

# Docs
ERC3525-standard/

# Dotenv files
.env
.env.deployed
Greenfield/.env





