# Compiler files
CTM3525X/cache/
CTM3525X/out/
CTM3525X/node_modules/
node_modules/

# Ignores development broadcast logs
!CTM3525X/broadcast
CTM3525X/broadcast/*/31337/
CTM3525X/broadcast/**/dry-run/

# Docs
CTM3525X/docs

# Dotenv file
.env
CTM3525X/.env
