# Compiler files
CTMRWA001/cache/
CTMRWA001/out/
CTMRWA001/node_modules/
node_modules/
CTMRWA001/lib

# Ignores development broadcast logs
!CTMRWA001/broadcast
CTMRWA001/broadcast/*/31337/
CTMRWA001/broadcast/**/dry-run/
CTMRWA001/flattened
CTMRWA001/Greenfield

# Docs
CTMRWA001/docs

ERC3252-standard/

# Dotenv file
.env
CTMRWA001/.env
