[submodule "3252X/lib/openzeppelin-contracts"]
	path = 3252X/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "3252X/lib/openzeppelin-contracts-upgradeable"]
	path = 3252X/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
